@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-home-intro {
  height: 400px;
  background-color: #282a35;
  text-align: center;

  .intro-section {
    z-index: 1;
    height: 100%;

    vertical-align: middle;
    text-align: center;
    .yals-name {
      font-size: 4.5rem;
      font-style: italic;
      color: white;
    }

    .yals-sub-name {
      font-size: 2.5em;
      font-style: italic;
      color: $purple;
    }

    .yals-tagline {
      color: $brightGreen;
      font-style: italic;
      font-size: 1.1em;
      text-align: right;
      margin-top: 50px;
    }
  }
}
