@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-home-intro {
  height: 400px;
  background-color: $appBg;

  text-align: center;

  .bg-image {
    width: 50%;
    img {
      background-repeat: no-repeat;
      background-size: contain;
      height: 70%;
      width: 70%;
    }
  }

  .intro-section {
    z-index: 1;
    height: 100%;
    width: 50%;

    vertical-align: middle;
    text-align: center;
    .#{$appPrefix}-name {
      font-size: 2rem;
      font-style: italic;
      color: white;
    }

    .#{$appPrefix}-sub-name {
      font-size: 2em;
      font-style: italic;
      color: $purple;
    }

    .#{$appPrefix}-tagline {
      color: $boxShadow;
      font-style: italic;
      font-size: 1em;
      margin-top: 50px;
    }
  }
}

.device-type-mobile {
  .#{$appPrefix}-home-intro {
    .#{$appPrefix}-name {
      font-size: 1.5rem;
    }

    .#{$appPrefix}-sub-name {
      font-size: 1.1rem;
    }

    .#{$appPrefix}-tagline {
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
