@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-on-page-items {
  ul {
    list-style: none;
    padding: 0 !important;

    li {
      .#{$appPrefix}-btn {
        text-decoration: none;
        padding: 2px !important;
        color: $lightGrayAlt;
        padding-left: 10px;
        font-size: 0.7rem !important;
        text-align: left;
        word-break: break-word;

        &:hover {
          color: $h1Color !important;
        }
      }
    }
  }
}
