@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-on-page-items {
  ul {
    list-style: none;
    padding: 0 !important;

    li {
      .#{$appPrefix}-btn {
        text-decoration: none;
        padding: 2px !important;
        color: $lightGrayAlt;
        padding-left: 10px;
        font-size: 0.8rem !important;
        text-align: left;
        word-break: break-word;

        &:hover {
          color: $h1Color !important;
        }
      }

      padding: 1px 0px 1px 0px;
      border-bottom: 1px solid $secondaryBgColor;
      .btn {
        font-size: 0.8rem !important;
        color: $lightPurple;
        padding: 1px 2px 1px 0px !important;
      }
    }
  }
}
