@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.demo-component {
  border-radius: 4px;
  padding: 10px;
  background: $lightGray;
  border: 1px solid $lightGray;
  margin-right: 10px;
  height: 100%;
  text-align: left;
  flex: 1 1 35px;

  h5 {
    margin-bottom: 5px;
    margin-top: 5px !important;
  }

  .hint {
    font-size: 0.9rem;
    font-style: italic;
    color: $lightGrayAlt;
  }

  .app-level-label-value-pair {
    .app-level-label {
      font-weight: bold;
      color: $lightGrayAlt;
      margin-bottom: 5px;
    }

    .app-level-value {
      text-align: center;
      color: $purple;
    }
  }

  .result-item {
    font-size: 0.8rem;
    border-bottom: 1px solid $primaryColor;
    margin-bottom: 5px;
    .key-label {
      font-style: italic;
      margin-right: 10px;
    }

    .key-value {
      font-weight: bold;
    }
  }

  .view-mode-col {
    padding: 5px;

    .prev {
      margin-right: 5px;
    }
  }

  .demo-view {
    margin-top: 10px;
    max-height: 265px;
    overflow: auto;
  }

  .#{$appPrefix}-code {
    max-height: 265px;
    overflow: auto;
    font-size: 0.7rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .action-button-row {
    height: 35px;
  }

  .back-button {
    margin-bottom: 25px;
    .label {
      font-size: 1.8rem;
      color: $h2Color;
      margin-left: 10px;
      position: relative;
      top: 7px;
    }
  }
}

.full-page-demo {
  .demo-view {
    max-height: 100% !important;
  }

  .#{$appPrefix}-code {
    max-height: 100% !important;
  }
}
