@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.demo-component {
  border-radius: 4px;
  padding: 10px;
  background: $lightGray;
  border: 1px solid $lightGray;
  margin-right: 10px;
  height: 100%;
  text-align: left;

  .prev-next-btn {
    margin-bottom: 10px;
    .#{$appPrefix}-btn {
      padding-top: 0;
    }
    .prev {
      margin-right: 10px;
    }
  }

  h5 {
    margin-bottom: 10px;

    color: $purple !important;
  }

  .result-item {
    font-size: 0.8rem;
    border-bottom: 1px solid $primaryColor;
    margin-bottom: 5px;
    .key-label {
      font-style: italic;
      margin-right: 10px;
    }

    .key-value {
      font-weight: bold;
      float: right;
    }
  }

  .more-info-icon {
    float: right;
    margin-top: -10px;
    margin-right: -10px;
  }

  .tab-content {
    min-height: 280px;
    max-height: 280px;
    overflow: auto;

    .#{$appPrefix}-code {
      max-height: 100%;
      overflow: auto;
      font-size: 0.8rem;
    }
  }

  .back-button {
    margin-bottom: 10px;
    .label {
      font-size: 1.8rem;
      color: $h2Color;
      margin-left: 10px;
      position: relative;
      top: 7px;
    }
  }
}

.full-page-demo {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 15px 10px 15px;

  .tab-content {
    min-height: 280px;
    max-height: 100%;
    overflow: auto;

    .#{$appPrefix}-code {
      max-height: 100%;
    }
  }
}
