@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-menu-wrapper {
  padding: 0px 10px 10px 0px;
  height: 100%;
  overflow: auto;
  .menu-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .menu-ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      padding: 0.2rem 5px 0.2rem 5px;
      font-size: 0.8rem;

      a {
        text-decoration: none;
        display: block;
        color: $lightGrayAlt;
        padding-left: 10px;
        border-left: 2px solid transparent;

        &.selected {
          padding-top: 5px;
          border-right: 2px solid $brightGreen;
          background-color: $secondaryBgColor;
          font-weight: bold;

          .#{$appPrefix}-on-page-items {
            margin-top: 5px;
            li {
              padding: 0.2rem 5px 0.2rem 0px;
            }
          }
        }

        &:hover {
          color: $purple;
          border-left: 2px solid $h1Color;
        }
      }
    }
  }
}

.device-type-mobile {
  .#{$appPrefix}-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: white;
  }
}
