@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-home-footer {
  background-color: $darkGrayAlt;
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  height: 40px;
}

.#{$themeDark} {
  .#{$appPrefix}-home-footer {
    background-color: #000000;
    color: #ffffff;
  }
}
