@import '~bootstrap/scss/bootstrap';
@import './scss/colors.scss';
@import './scss/variables.scss';

body {
  margin: 0;
  height: 100%;
  font-size: 0.9em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-body {
  display: flex;
  flex-direction: column;
}

.row {
  margin-right: 0;
  margin-left: 0;

  div[class^='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.yals-ordered-list-expanded {
  li {
    margin-bottom: 1rem;
  }
}

.yals-ordered-list {
  li {
    margin-bottom: 0.5rem;
  }
}

.yals-left-section {
  position: sticky;
  top: 0;
  height: 96vh;
  padding-top: 35px;
}

.yals-content-section {
  background-color: $bodyBgColor;
  padding: 0px 10px 0px 10px;
  padding-top: 35px;

  .mobile-menu-wrapper {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 50px;
    right: 30px;
    background-color: $lightGray;
    z-index: 99999;
    border-radius: 50%;

    &:hover {
      background-color: $primaryColor;

      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.yals-right-section {
  position: sticky;
  top: 0;
  height: 96vh;
  padding-top: 35px;
}

.row {
  --bs-gutter-x: 0;
}

.device-type-mobile {
  .yals-breadcrumb {
    padding-left: 0px;
  }
  .yals-container {
    padding: 0px;
  }
  .yals-left-section {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: $primaryBgColor;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightGrayAlt;
}
