$primaryColor: #c0c0c0;
$primaryBgColor: #c0c8c8;
$secondaryColor: rgb(70, 70, 94);
$secondaryBgColor: #eeeef0;
$purple: #6e45e2;
$darkGreen: #002b36;
$darkGray: #121212;
$lightGray: #e1e1e1;
$lightGrayAlt: #626262;
$bodyBgColor: #f7f7f7;
$green: #389e7f;
$white: #f8f8f8;
$h1Color: #ff5e0e;
$h2Color: #008575;
$brightGreen: #33cc7b;
$boxShadow: #888888;
