@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.#{$appPrefix}-prev-next-btn {
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
  border: 1px solid $brightGreen;
  border-radius: 10px;

  .route-link {
    font-size: 0.7rem;
  }

  .prev-btn-wrapper {
    .yals-btn {
      text-align: left;
    }
    padding-right: 5px;
    margin-bottom: 5px;
  }

  .next-btn-wrapper {
    text-align: right;
    .yals-btn {
      text-align: right;
    }
    .next-button {
      text-align: right;
      .yals-text-bold {
        margin-right: 15px;
      }
    }
  }

  .prev-btn-wrapper {
    text-align: left;
    .prev-button {
      text-align: left;
    }
  }
}
