@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.home-page-content {
  .pdf-share-btns {
    display: flex;
    align-items: center;
    gap: 15px;
    top: -40px;
    right: 15px;
    position: relative;
    float: right;

    a {
      svg {
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

.device-type-mobile {
  .pdf-share-btns {
    top: -50px;
    right: 5px;
  }
}

.#{$themeDark} {
  .pdf-share-btns {
    svg {
      fill: white;
    }
  }
}
